body {
	background-color:#ffffff;	
}

h1 {
	color:#000000;
	text-align:center;
	font-size:5em;
}

.menu {
	margin-bottom:50px;
}

.menu ul {
	list-style-type:none;
	margin: 0 auto;
	padding:0.35%;
}

.menu li {
	text-align:center;
	background-color:#000000;
	display:inline;
	float:left;
	border-style:solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.menu a {
	text-decoration:none;
	color:#ffffff;
	display:block;
	width:192px;
}

.welcome {
	background-color:#000000;
	border-style:solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:block;
	margin-left:25%;
	margin-right:25%;
	margin-top:0.05%;
	padding:0.5%;
	font-size:1.25em;
}

.welcome p {
	color:#ffffff;
}

.about {
	display:none;
}